<ion-view hide-nav-bar="false">
  <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="right">
          <a class="button button-icon icon ion-gear-b" href="#/app/settings"></a>

      </ion-nav-buttons>
  </ion-nav-bar>


  <ion-content class="splash padding">
    <div class="branding" >
      <img src="img/logo.svg" alt="Logo" style="width:70%;">
    </div>
    
    <h2 class="splash_label">Made in security &reg;</h2>

    <br/>
    <br/>
    <a class="button button-block" href="#/app/login">
        Login
    </a>
    <a href="#/app/register" class="button button-block">
        Registrati
    </a>    
  </ion-content>
</ion-view>